html,
body {
  height: 100%;
}

.main {
  background-image: url(./images/rps-bg.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
  }

.game-main {
  display: flex;
}

.main-heading {
  text-align: center;
  font-size: 5vw;
  color: greenyellow;
  margin-top: auto;
}

#letsPlayBtn {
  margin: 0px 40%;
  width: 20%;
  background-color: #04AAB1;
  color: white;
  padding: 16px 25px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 1.8vw;
}

.play {
  width: 70%;
  position: relative;
}

.result {
  width: 30%;
  position: relative;
}

.selected-choice {
  display: flex;
}

.selected-choice img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.selected-choice h2 {
  text-align: center;
  font-size: 2.5vw;
  color: ivory;
  margin-bottom: 10px;
  margin: auto;
}

.player-choice,
.computer-choice {
  display: grid;
  margin: auto;

}

.play-btn button {
  background-color: rgb(142, 22, 100);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width:30%;
}

.play-btn {
  margin: 1vw 15vw;
  position: relative;
}

.play-btn button:hover {
  background-color: chartreuse;
}

.result h2 {
  margin: auto;
  color: ivory;
  font-size: 3vw;
  margin-left: 2vw;
}

.result-table {
  font-size: 3vw;
  color: chartreuse;
  text-align: center;
  margin-top: 2vw;
}

.result-table table {
  position: relative;
}

.result-table td {
  width: 50%;
}

.round-winner {
  text-align: center;
}

#rndWinner {
  text-align: center;
  color: chartreuse;
  font-size: 3vw;
}

.final-result {
  text-align: center;
  color: chartreuse;
  font-size: 3vw;
}

.new-btn {
  margin: 0px 40%;
  width: 20%;
  background-color: #04AAB1;
  color: white;
  padding: 16px 25px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 1.8vw;
}